.DS_Store
Masterarbeit_Text/.DS_Store
Code/__pycache__/*
.vscode/launch.json
.vscode/settings.json
Data/*
workflow_code/__pycache__/*
pytorch-3DUNet/saved_models/*
pytorch-3DUNet/__pycache__/*
/workflow_code/.vscode